.closeButton{
    position: absolute;
    right:16px;
    top: 16px;
    color: grey;
}
.closeButton {
    position: absolute !important;
    right: 16px;
    top: 0;
    color: grey !important;
}
.popupTitle{
    text-align: center;
}