.clockwrapper {
    position: relative;
}
.timeclock {
    margin-top: 30px;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background: #2196f3;
    display: flex;
flex-direction: column;
align-content: center;
align-items: center;
    border: 10px solid #b2ebf2;
}
.timeclock span {
    display: block;
}
.clock-text {
    /* margin-top: 90px; */
    color: #f4f4f4;
    font-size: 42px;
    font-weight: 300;
    text-transform: uppercase;
}
.clock-time {
    padding: 30px 0;
    font-size: 46px;
    color: #424242;
}
span.clock-day {
    color: #fff;
    font-size: 26px;
}