header{
    background: #ff9b44;
    background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1002 !important;

}
.headerInner{
    display: flex;
    justify-content: space-between;
}
.headerLeft,
.headerRight{
display: flex;
align-items: center;
}
.MuiToolbar-gutters {
    padding-left: 0px !important;
    padding-right: 0px!important;
}
.headerLeft{
    justify-content: center;
    height: 60px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    width: 194px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.headerLeft img{
    height: 45px;
object-fit: contain;
object-position: center;
text-align: center;
}
.headerCenter{
    flex:1;
    display: flex;
    align-items: center;
}
.headerRight{
    padding-right: 24px;
}
.headerRight ul {
    margin: 0;
    position: relative;
    z-index: 99;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    list-style: none;
    align-items: center;
}
.headerRight ul >li> a{
    color: #fff;
    font-size: 15px;
    line-height: 60px;
    padding: 0 15px;
    height: 60px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.headerRight ul >li> a span{
    /* display: inline-block; */
    margin-left: 10px;
}

.headerRight ul li + li{
    margin-left: 15px;
}
.userDropdown ul{
    flex-direction: column;
    align-items: flex-start;
}
.headerRight ul > li > .userDropdown li{
    width: 100%;;
}
.headerRight ul > li > .userDropdown li>a{
    display: block;
    height: auto;
    line-height: 25px;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    
}
.headerRight ul > li > .userDropdown li + li{
    margin-left: 0px;
}
.headerRight ul > li > .userDropdown li>a:focus, .headerRight ul > li > .userDropdown li>a:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.downUpIcon{
line-height: 0;
}

.downUpIcon svg{
    padding: 0;
}