* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  font-size: 1rem;
  font-weight: initial;
  line-height: 1.5;
  background: #f3f4fa;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
}
.sidebar {
  background-color: #34444c;
  position: fixed;
  top: 60px;
  min-height: 100vh;
  margin-left: 0rem;
  -webkit-transition: width 0.25s ease-out;
  -moz-transition: width 0.25s ease-out;
  -o-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
  position: relative;
  margin: 0px;
  flex: 0.1;
  flex-basis: 80px;
  overflow: hidden;
  color: #fff;
}
.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #1010102d;
}
.sidebar__header {
  display: flex;
  border-bottom: 1px solid #1010102d;
  padding: 13px;
  align-items: center;
}
.sidebar__header > .MuiAvatar-root {
  margin-right: 15px;
}
.sidebar__header > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}
.sidebarOption {
  padding: 8px 15px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  transition: all 0.2s ease-in-out 0s;
}
a.sidebarOption {
  color: #b7c0cd;
  text-decoration: none;
}
a.sidebarOption:hover {
  opacity: 0.9;
  color: #fff;
}
a.sidebarOption.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.PrivateTabIndicator-colorSecondary-13 {
  background-color: #3f51b5 !important;
}

.sidebarOption__icon {
  font-size: 17px !important;
  line-height: 24px;
  text-align: left;
  vertical-align: middle;
  margin-right: 10px;
}

.sidebarOption__name {
  font-size: 15px;
  color: #b7c0cd;
}
.sidebarTitle {
  color: #ebecf1;
  font-size: 14px !important;
  padding: 5px 15px;
  white-space: nowrap;
}
.dashWidgetIcon {
  background-color: rgba(255, 155, 68, 0.2);
  border-radius: 100%;
  color: #ff9b44;
  display: inline-block;
  float: left;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  text-align: center;
  width: 60px;
}
.containArea {
  width: 100%;
  min-width: 0px;
  padding: 0px;
  background: #f3f4fa;
  display: flex;
}
.whiteIcon {
  color: #fff;
}
.content {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 0.9;
  padding-top: 60px;
}
.tile-stats {
  position: relative;
  display: block;
  padding: 20px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ededed;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.border {
  border: 2px solid #3f51b5 !important;
}
.tile-stats .count {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
}
.tile-stats .title {
  font-size: 16px;
  font-weight: 600;
}
.pageTitle {
  color: #1f1f1f;
  font-size: 26px!important;
  font-weight: 700!important;
  margin-bottom: 5px!important;
}
.paddingLeftRight {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.addBtn {
  display: inline-block !important;
  font-weight: 400 !important;
  color: #212529 !important;
  text-align: center !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  background-color: #ff9b44 !important;
  border: 1px solid #ff9b44 !important;
  border-radius: 50px !important;
  color: #fff !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
  min-width: 140px !important;
  text-decoration: none !important;
}
.addBtn:hover {
  background-color: #ff851a !important;
  border: 1px solid #ff851a !important;
}
.btn-custom.focus,
.btn-custom:focus,
.btn-custom:hover {
  background: #ff9b44;
  background: -moz-linear-gradient(left, #ff9b44 0%, #fc6075 100%);
  background: -webkit-linear-gradient(left, #ff9b44 0%, #fc6075 100%);
  background: -ms-linear-gradient(left, #ff9b44 0%, #fc6075 100%);
  background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
  color: #fff;
}
.Mui-focused fieldset {
  border-color: #ff851a !important;
  border-width: 2px;
}
.MuiFormLabel-root.Mui-focused {
  color: #ff851a !important;
}

.submit-btn {
  border-radius: 50px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  min-width: 200px !important;
  padding: 10px 20px !important;
}
.btn-custom {
  background: #ff9b44;
  background: -moz-linear-gradient(left, #ff9b44 0%, #fc6075 100%);
  background: -webkit-linear-gradient(left, #ff9b44 0%, #fc6075 100%);
  background: -ms-linear-gradient(left, #ff9b44 0%, #fc6075 100%);
  background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
  color: #fff;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border: 1px solid #ededed;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  margin-bottom: 30px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.profile-view {
  position: relative;
  width: 100%;
}
.profile-img-wrap {
  height: 120px;
  position: absolute;
  width: 120px;
  background: #fff;
  overflow: hidden;
}
.profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}
.profile-view .profile-img-wrap {
  height: 120px;
  width: 120px;
}
.profile-view .profile-img .MuiAvatar-circle,
.profile-view .profile-img {
  width: 120px;
  height: 120px;
}
.profile-img-wrap img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.profile-basic {
  margin-left: 140px;
}
.profile-view .profile-basic {
  margin-left: 140px;
  padding-right: 50px;
}
.profile-info-left {
  border-right: 2px dashed #ccc;
}
.profile-info-left .MuiTypography-h3 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}
.profile-info-left .MuiTypography-h6 {
  color: #8e8e8e;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.profile-info-left .MuiTypography-subtitle1 {
  color: #8e8e8e;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.profile-info-left .MuiTypography-caption {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}
.profile-info-left .MuiTypography-subtitle2 {
  color: #8e8e8e;
  font-size: 80%;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.staff-msg {
  margin-top: 30px;
}

.personal-info {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.personal-info li {
  margin-bottom: 10px;
  clear: both;
}
.personal-info li a {
  color: #4f4f4f;
  text-decoration: underline;
}
.personal-info li .title {
  color: #4f4f4f;
  float: left;
  font-weight: 600;
  margin-right: 30px;
  width: 25%;
}
.personal-info li .text {
  color: #8e8e8e;
  display: block;
  overflow: hidden;
}

.avatar-box {
  float: left;
}
.avatar {
  background-color: #aaa;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  margin: 0 10px 0 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 38px;
  position: relative;
  white-space: nowrap;
}
.avatar.avatar-xs {
  width: 24px;
  height: 24px;
}
.avatar > img {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 100%;
}
.pro-overview .MuiTypography-h3 {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.pro-edit {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #eee;
  border: 1px solid #e3e3e3;
  border-radius: 24px;
  color: #bbb;
  float: right;
  font-size: 12px;
  line-height: 24px;
  min-height: 26px;
  text-align: center;
  width: 26px;
}
.pro-overview .pro-edit {
  top: 5%;
  right: 3%;
}
.info-personal2.personal-info li {
  margin-bottom: 0px;
}
.pro-overview .personal-info li .title {
  width: 50%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
hr.sm-divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
